################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/calc/.vs/calc
